<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.MessagetouserMapper" >
  <resultMap id="BaseResultMap" type="org.java.entity.Messagetouser" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="MessageId" property="messageid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="IfRead" property="ifread" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, MessageId, UserId, IfRead
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from messagetouser
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from messagetouser
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.java.entity.Messagetouser" >
    insert into messagetouser (Id, MessageId, UserId, 
      IfRead)
    values (#{id,jdbcType=INTEGER}, #{messageid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, 
      #{ifread,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.Messagetouser" >
    insert into messagetouser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="messageid != null" >
        MessageId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="ifread != null" >
        IfRead,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageid != null" >
        #{messageid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ifread != null" >
        #{ifread,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.Messagetouser" >
    update messagetouser
    <set >
      <if test="messageid != null" >
        MessageId = #{messageid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ifread != null" >
        IfRead = #{ifread,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.Messagetouser" >
    update messagetouser
    set MessageId = #{messageid,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=VARCHAR},
      IfRead = #{ifread,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>